PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://EV-Charging:EVchargingstation@ev.5dn6wrd.mongodb.net/?appName=EV

JWT_SECRET=+X!m9k8wZwK@RzvX|=L>S2@!058ait&?MZx7f;te-|B
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=dndrwiqps
CLOUDINARY_API_KEY=192661645664918
CLOUDINARY_API_SECRET=isBp3W_vozBM4G6ZJs25Esq2R0E

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=sumantkumar11112004@gmail.com
SMTP_PASSWORD=qwre akyz lhpj yzas
FROM_EMAIL=noreply@chargepointx.in
FROM_NAME=ChargePointX

RAZORPAY_KEY_ID=rzp_test_Zvknqv3xPWJCSY
RAZORPAY_KEY_SECRET=BeZJKALmS7uQYyCjQ4bwR0eE

CLIENT_URL=http://localhost:3000

ADMIN_URL=http://localhost:3000/admin
